<script lang="ts" setup>
import { computed } from "vue";
import { watch, ref } from "vue";

const props = defineProps({
  url: {type: String, required: true},
})
const state = ref<boolean | undefined>()
const display = computed(() => {
  const [mark, color] = {
    true: ['✔', 'green'],
    false: ['✗', 'red'],
    undefined: ['…', 'gray'],
  }[String(state.value) as "true" | "false" | "undefined"]
  return {mark, color}
})

watch(() => props.url, (value) => {
  fetch(value, {mode: 'no-cors'})
    .then(() => {
      state.value = true
    })
    .catch(() => {
      state.value = false
    })
}, { immediate: true })
</script>
<template>
  <span :style="{color: display.color}">{{ display.mark }}</span>
</template>
