<script setup lang="ts">
import { ref, computed } from 'vue';

import LinkState from "./components/LinkState.vue"

const formData = ref({
  original: '',
})
const title = document.title

const results = computed(() => {
  const parts = formData.value.original.split('/')
  const username = parts[3]
  const pk = parts[5]
  if (!pk) {
    return {}
  }
  return {
    'nitter.net': `https://nitter.net/${username}/status/${pk}`,
    'bird.makeup': `https://bird.makeup/users/${username}/statuses/${pk}`,
  }
})

const handleIconClick = () => {
  formData.value.original = ''
}
</script>

<template>
  <div class="form-block">

    <div class="logo">
      <h1>{{ title }}</h1>
    </div>

    <FormKit
      type="form"
      :actions="false"
      v-model="formData"
    >
      <FormKit
        type="url"
        name="original"
        label="Original URL"
        suffix-icon="close"
        suffix-icon-class="hover:text-blue-500 cursor-pointer"
        help="Insert original tweet URL"
        validation="url"
        @suffix-icon-click="handleIconClick"
      />
      <div v-if="Object.values(results).length">
        <hr>
        <div v-for="[key, url] in Object.entries(results)">
          <label>
            {{ key }}
            <LinkState :url="url" class="mr-2" />
          </label>
          <div>
            <a _target="blank" :href="url">{{ url.slice(8) }}</a>
          </div>
        </div>
      </div>
    </FormKit>
    <footer class="font-size-sm text-slate-500 mt-5">
      Source code: https://gitlab.com/partizan/tw-url-converter
    </footer>
  </div>
</template>

<style>
:root {
  --bg-color: #555;
  --fg-color: #111;
}

body {
  color: var(--fg-color);
  height: 100vh;
  /*  https://www.css-gradient.com/?c1=1571a4&c2=2740a1&gt=l&gd=dtr */
  background: #1571A4;
  background: linear-gradient(225deg, #1571A4, #2740A1);
}
.logo {
  background: linear-gradient(-225deg, #1571A4, #2740A1);
  color: #fff;
}
.form-block {
  background: #eee;
  width: calc(100% - 2em);
  max-width: 480px;
  box-sizing: border-box;
  padding: 2em;
  box-shadow: 0 0 1em rgba(0, 0, 0, .1);
  border-radius: .5em;
  margin: 4em auto;
}
.hover\:text-blue-500:hover {
  color: #3b82f6;
}
.cursor-pointer {
  cursor: pointer;
}
.font-size-sm {
  font-size: .8rem;
}
.text-slate-500 {
  color: #64748b;
}
.mt-5 {
  margin-top: 2rem;
}
</style>
